          @keyframes scroll-left {
              0% {
                  transform: translateX(0);
              }

              100% {
                  transform: translateX(-50%);
              }
          }

          @keyframes scroll-right {
              0% {
                  transform: translateX(-50%);
              }

              100% {
                  transform: translateX(0);
              }
          }

          .animate-scroll-left {
              animation: scroll-left 18s linear infinite;
          }

          .animate-scroll-right {
              animation: scroll-right 18s linear infinite;
          }


             @keyframes bounce {
          0%,
          100% {
            transform: translateY(0);
          }
          20% {
            transform: translateY(-12px);
          }
          40% {
            transform: translateY(-24px);
          }
          60% {
            transform: translateY(-12px);
          }
          80% {
            transform: translateY(0);
          }
        }

.scroll-reveal {
 opacity: 0;
 transform: translateY(40px);
 transition: opacity 1.2s cubic-bezier(.4,0,.2,1), transform 1.2s cubic-bezier(.4,0,.2,1);
will-change: opacity, transform;
}
.scroll-reveal.revealed {
opacity: 1;
transform: translateY(0);
}